In [1]:
import numpy as np
import pandas as pd

In [3]:
df_zomato=pd.read_csv("C:/Users/sulru/Downloads/zomato_data.csv")

In [4]:
df_zomato

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,Yes,Yes,4.1/5,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Yes,No,4.1/5,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,Yes,No,3.8/5,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,No,No,3.7/5,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,No,No,3.8/5,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...
51712,No,No,3.6 /5,27,Bar,NaN,Continental,"1,500",Pubs and bars,Whitefield
51713,No,No,NaN,0,Bar,NaN,Finger Food,600,Pubs and bars,Whitefield
51714,No,No,NaN,0,Bar,NaN,Finger Food,"2,000",Pubs and bars,Whitefield
51715,No,Yes,4.3 /5,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars,Whitefield
51716,No,No,3.4 /5,13,"Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars,Whitefield

In [5]:
# shape
df_zomato.shape

(51717, 10)

In [13]:
# north indian cuisines
north_count=df_zomato[df_zomato["cuisines"].str.contains('North Indian',case=False,na=False)].shape[0]

In [14]:
north_count

21085

In [15]:
b_df=df_zomato['cuisines'].value_counts().idxmax()

In [16]:
b_df

'North Indian'

In [26]:
df_zomato['approx_costfor_two_people'] = df_zomato['approx_costfor_two_people'].astype(str).str.replace(',', '')
df_zomato['approx_costfor_two_people'] = pd.to_numeric(df_zomato['approx_costfor_two_people'], errors='coerce')

df_zomato = df_zomato.dropna(subset=['approx_costfor_two_people', 'listed_incity'])

avg_cost_by_locality = df_zomato.groupby('listed_incity')['approx_costfor_two_people'].mean()


top_locality = avg_cost_by_locality.sort_values(ascending=False).head(1)

In [27]:
top_locality

listed_incity
Church Street    771.990104
Name: approx_costfor_two_people, dtype: float64

In [29]:
df=df_zomato

In [30]:
df['rate'] = df['rate'].astype(str).str.replace('/5', '').str.strip()
df['rate'] = pd.to_numeric(df['rate'], errors='coerce')


df_filtered = df[df['votes'] > 1000]

df_filtered = df_filtered.dropna(subset=['rate', 'rest_type'])
avg_rating_by_type = df_filtered.groupby('rest_type')['rate'].mean()

top_rated_type = avg_rating_by_type.sort_values(ascending=False).head(1)

In [31]:
top_rated_type

rest_type
Bakery    4.8
Name: rate, dtype: float64

In [36]:
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].astype(str).str.replace(',', '')
df['approx_costfor_two_people'] = pd.to_numeric(df['approx_costfor_two_people'], errors='coerce')

df = df.dropna(subset=['approx_costfor_two_people'])

min_cost = df['approx_costfor_two_people'].min()

In [37]:
min_cost

40.0

In [40]:
online_orders_df = df[df['online_order'] == 'Yes']


banashankari_online_orders = online_orders_df[online_orders_df['listed_incity'] == 'Banashankari']

percentage = (len(banashankari_online_orders) / len(online_orders_df)) * 100
print(f"Percentage of total online orders received by restaurants in Banashankari: {percentage:.2f}%")

Percentage of total online orders received by restaurants in Banashankari: 1.79%

In [41]:
percentage

1.7934568387859677

In [42]:
df['rate'] = df['rate'].astype(str).str.replace('/5', '').str.strip()
df['rate'] = pd.to_numeric(df['rate'], errors='coerce')

filtered_df = df[(df['votes'] > 500) & (df['rate'] < 3.0)]


filtered_df = filtered_df.dropna(subset=['listed_incity'])
count_by_locality = filtered_df['listed_incity'].value_counts()

top_locality = count_by_locality.head(1)

In [43]:
top_locality

listed_incity
Brookefield    8
Name: count, dtype: int64

In [46]:
df = df.dropna(subset=['rest_type', 'listed_incity'])

# Step 3: Split multiple restaurant types (e.g., "Cafe, Casual Dining")
df['rest_type'] = df['rest_type'].astype(str)
df_expanded = df.assign(rest_type=df['rest_type'].str.split(',')).explode('rest_type')

# Step 4: Strip whitespace from restaurant type values
df_expanded['rest_type'] = df_expanded['rest_type'].str.strip()

# Step 5: Group by locality and count unique restaurant types
diversity_score = df_expanded.groupby('listed_incity')['rest_type'].nunique()

# Step 6: Sort and find the top locality
top_locality = diversity_score.sort_values(ascending=False).head(1)

In [47]:
top_locality

listed_incity
Whitefield    22
Name: rest_type, dtype: int64

In [48]:
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].astype(str).str.replace(',', '')
df['approx_costfor_two_people'] = pd.to_numeric(df['approx_costfor_two_people'], errors='coerce')


df = df.dropna(subset=['approx_costfor_two_people', 'listed_intype'])

buffet = df[df['listed_intype'].str.contains('Buffet', case=False, na=False)]
delivery = df[df['listed_intype'].str.contains('Delivery', case=False, na=False)]


avg_buffet = buffet['approx_costfor_two_people'].mean()
avg_delivery = delivery['approx_costfor_two_people'].mean()

cost_difference = avg_buffet - avg_delivery

In [49]:
cost_difference

841.9219757364119

In [50]:
df['rate'] = df['rate'].astype(str).str.replace('/5', '').str.strip()
df['rate'] = pd.to_numeric(df['rate'], errors='coerce')

filtered_df = df[
    (df['online_order'] == 'Yes') &
    (df['votes'] > 500) &
    (df['rate'] > 4.2)
]
filtered_df = filtered_df.dropna(subset=['listed_incity'])
best_areas = filtered_df['listed_incity'].value_counts()

In [54]:
best_areas.head(1)

listed_incity
Koramangala 7Th Block    97
Name: count, dtype: int64

In [55]:
df['votes'] = pd.to_numeric(df['votes'], errors='coerce')

df = df.dropna(subset=['approx_costfor_two_people', 'votes', 'listed_incity'])


df['estimated_revenue'] = df['approx_costfor_two_people'] * df['votes']
revenue_by_locality = df.groupby('listed_incity')['estimated_revenue'].sum().sort_values(ascending=False)

In [57]:
revenue_by_locality.head(1)

listed_incity
Koramangala 7Th Block    1.001290e+09
Name: estimated_revenue, dtype: float64

In [58]:
df = df.dropna(subset=['cuisines', 'rate'])
df_both_cuisines = df[
    df['cuisines'].str.contains('North Indian', case=False, na=False) &
    df['cuisines'].str.contains('Chinese', case=False, na=False)
]

average_rating = df_both_cuisines['rate'].mean()

In [59]:
average_rating

3.573461901268211

In [60]:
df['votes'] = pd.to_numeric(df['votes'], errors='coerce')

online_order_df = df[df['online_order'] == 'Yes']
max_votes = online_order_df['votes'].max()

In [61]:
max_votes

16832

In [64]:
df = df.dropna(subset=['rest_type', 'listed_incity'])


df['rest_type'] = df['rest_type'].astype(str)
df_expanded = df.assign(rest_type=df['rest_type'].str.split(',')).explode('rest_type')
df_expanded['rest_type'] = df_expanded['rest_type'].str.strip()

target_localities = ['Brigade Road', 'BTM', 'Bannerghatta Road', 'Brookefield']
df_filtered = df_expanded[df_expanded['listed_incity'].isin(target_localities)]

diversity = df_filtered.groupby('listed_incity')['rest_type'].nunique()
print(diversity.sort_values(ascending=False))

listed_incity
Brigade Road         21
Bannerghatta Road    18
Brookefield          18
Name: rest_type, dtype: int64